<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                   <a href="#"><img width="210" src="/assets/images/logo.jpg" alt="#" /></a>
                 </div>
                 <div class="information_f">
                   <p><strong>ADDRESS:</strong>SAMPOORNA BUILDINGS,VYTILLA, KOCHI-8</p>
                   <p><strong>TELEPHONE:</strong> +91 987456231</p>
                   <p><strong>EMAIL:</strong> yoursprimal@gmail.com</p>
                 </div>
              </div>
          </div>
          <div class="col-md-8">
             <div class="row">
             <div class="col-md-7">
                <div class="row">
                   <div class="col-md-6" style="margin-left: 200px;">
                <div class="widget_menu">
                   <h3>Menu</h3>
                   <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/productlist">Products</a></li>
                      <li><a href="/cart">Cart</a></li>
                      <li><a href="/wishlist">Wishlist</a></li>
                      <li><a href="/userprofile">Profile</a></li>
                   </ul>
                </div>
             </div>
                </div>
             </div>     
             <div class="col-md-5">
                <div class="widget_menu">
                   <h3>Newsletter</h3>
                   <div class="information_f">
                     <p>Subscribe by our newsletter and get update protidin.</p>
                   </div>
                   
                </div>
             </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- footer end -->
 <div class="cpy_">
    <p class="mx-auto" style="color: red;">© 2021 All Rights Reserved By PRIMAL<br>
    
       Distributed By PRIMAL & SONS
    </p>
 </div>
 <!-- jQery -->
</body>
</html>