<%-include('header')%>
            <%-include('nav')%>
           <%-include('cdmlinks')%>
           <style>
            .error-content {
                background-image: url('assets/images/best-dry-dog-food.jpg');
                background-size: cover;
                object-fit: fill;
                margin-top: 5px;
                padding-bottom: 5%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #ffffff; 
                text-align: center;
            }
        
            .error-title {
                font-size: 4rem; 
                margin-bottom: 20px; 
                color:green;
                font-weight: bold;
            }
            .container{
                
                font-size: 24px;
            }
        
        </style>
    <div class="page-wrapper">
        	<div class="error-content text-center">
            	<div class="container ">
            		<h1 class="error-title">ORDER CONFIRMED</h1>
            		<p style="color: green; font-size: 24px;">THANKYOU FOR YOUR ORDER</p>
            	</div>
        	</div>
    </div>
   
<%-include('footer')%>