<%-include('header')%>
<%-include('cdmlinks')%>



    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ccf1ff;
            text-align: center;
            margin: 50px;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 8px;
            text-align: left;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border-radius: 20px;
        }
        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
    <form action="/resetpassword" method="post">
        <h2 style="font-weight: bold;">Password Reset</h2>
        <label for="newPassword">Enter New Password:</label>
        <input style="border-radius: 20px;border: 2px solid blue;
        " type="password" id="newPassword" name="newPassword">

        <label
        for="confirmPassword">Confirm New Password:</label>
        <input style="border-radius: 20px;border: 2px solid blue;" type="password" id="confirmPassword" name="confirmPassword">

        <button type="submit">Reset Password</button>
        <p class="text-danger text-center mt-3 mb-0">
            <%=locals.msg?locals.msg: "" %>
          </p>
    </form>
</body>
</html>
