<%-include('header')%>
<%-include('nav')%>
<%-include('cdmlinks')%>
		
<br>
<section style="background-color:aliceblue;">
    <div class="container py-5">
      
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"></h5>
              
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <a href="/userdetails" id="userDetailsLink" >USER DETAILS</a>
                  
                </li>
                
                <li class="list-group-item d-flex justify-content-between align-items-center p-3 ">
                  <a href="/orders" id="userDetailsLink" >ORDERS</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3 ">
                  <a href="/wallet" id="userDetailsLink" >WALLET</a>
                </li>
                
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- FOOTER -->
  <%-include('footer')%>