<%-include('adminheader')-%>
    <style>
        .error-content {
            background-image: url('assets/images/bigstock-Pet-eating-food-Dog-eats-food-169017521.webp');
            background-size: cover;
            object-fit: fill;
            margin-top: 4px;
            padding-bottom: 5%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            text-align: center;
        }

        .error-title {
            font-size: 4rem;
            margin-bottom: 20px;
        }

        .container {
            font-size: 24px;
        }
    </style>
    <div class="page-wrapper">
        <div class="error-content text-center">
            <div class="container ">
                <h1 class="error-title">ERROR 404</h1>
                <p>WE ARE SORRY, THE PAGE YOU'VE REQUESTED IS NOT AVAILABLE</p>
            </div>
        </div>
    </div>